body{
    background-color: lightblue
}
.img{
    width: 600px;
    height: 400px;
    text-align: center
}
.heading{
    font-size: 20px
}
h1{
    font-size: 20px
}
p{
    font-size: 15px
}
h2{
    font-size: 15px
}